<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        AI Health Monitoring
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static',filename='css/style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

</head>

<body>

<div class="background">

<div class="circle one"></div>

<div class="circle two"></div>

<div class="circle three"></div>

</div>


<header>

<div class="logo">

🩺 AI Health

</div>

<nav>

<a href="/">Home</a>

<a href="/camera">Live Scan</a>

<a href="/symptoms">Symptoms</a>

<a href="/analytics">Analytics</a>

<a href="/reports">Reports</a>

</nav>

</header>



<section class="hero">

<div class="left">

<h1>

AI Health Monitoring

</h1>

<p>

Real-Time Face Analysis,
Fatigue Detection,
Stress Monitoring
&
Smart Disease Prediction

</p>

<a href="/camera">

<button>

Start Scan

</button>

</a>

</div>



<div class="right">

<div class="glass">

<h2>

Health Status

</h2>

<div class="score">

98

</div>

<p>

AI Ready

</p>

</div>

</div>

</section>



<section class="cards">

<div class="card">

<h2>

📷 Face Analysis

</h2>

<p>

Detect fatigue,
eye closure,
stress and facial movement.

</p>

</div>



<div class="card">

<h2>

🩺 Symptom Checker

</h2>

<p>

Predict diseases using
AI-powered symptom analysis.

</p>

</div>



<div class="card">

<h2>

📈 Health Analytics

</h2>

<p>

View previous scans,
health score and reports.

</p>

</div>

</section>


<footer>

AI Health Monitoring System © 2026

</footer>

</body>

</html>